body {
    background-color: rgb(244, 196, 184);
    color: rgb(31, 123, 130);
    font-size: large;
    font-family: 'Calibri', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
}


.header {
    margin-top:10px;
    padding-bottom: 10px;
    background-color: rgb(31, 123, 130);

}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(244, 196, 184);
    font-weight: bold;
    padding-top: 15px;
    margin-right: 20px;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

a:visited { 
    text-decoration: none;
    color: rgb(244, 196, 184);
   }


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

img {
    max-width: auto;
    max-height: 500px;
    margin-left: 60px;
    border-width: thick;
    border-style: dotted;
    color: white;

}

#work {
    background-color: rgb(31, 123, 130);
    color:rgb(244, 196, 184)
}

.image {
    flex-basis: 40%
}

.text {
    font-size: 20px;
    padding-left: 20px;
    margin-right: 40px;
}

#title {
    font-size: 35px;
    color:rgb(244, 196, 184)
}

h1 {
    display: block;
    text-align: center;
    text-decoration: underline;
    margin:40px;
}


#id {
    background-color: rgb(31, 123, 130);
    color:rgb(244, 196, 184)
}

.portfolio1 {
    background-color: rgb(31, 123, 130);
    color:rgb(244, 196, 184);
    padding:20px;

}

.portfolio2 {
    display: flex;
    background-color: rgb(31, 123, 130);
    justify-content: space-around;
    padding-bottom: 20px;
}

.portfolio1 img {
    max-height: 400px;
    align-items: center;
    margin-bottom: 15px;
}

.portfolio2 img {
    flex-basis: auto;
    max-height: 350px;
    margin: 30px;
    justify-content: space-evenly;
}

p {
    margin-top: 5px;
    font-weight: bold;
    color:rgb(244, 196, 184)
}


.tasks {
    display: block;
    text-align: center;
}

footer {
    margin-top: 30px;
    text-align: center;
    display: block;
}

footer ul {
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-right: 25px;
}

footer a:visited { 
    text-decoration: none;
    color: rgb(31, 123, 130);
   }

@media screen and (max-width: 992px) {
    .portfolio1 img{
        width: auto;
    }
    .portfolio2{
    flex-wrap: wrap;
    }
}

@media screen and (max-width:768px){
    .portfolio1 img{
        width:auto;
        height:300px;

    }
}